---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experience.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
import ContactoIcons from "../components/ContactoIcons.astro";
import Contacto from "../components/Contacto.astro";
import WhatsappButton from "../components/WhatsappButton.astro";
import Presentation from "../sections/Presentation.astro";
import SobreMi from "../sections/SobreMi.astro";
---

<script src="../scripts/showSection"></script>
<Layout
  title="Porfolio de José Argüello - Desarrollador y Programador Web con varios años experiencia"
  description="Contrata a José para crear tu aplicación web o móvil. Desarrollador Web. Especializado en crear aplicaciones únicas."
>
  <main class="px-4 fullpage">
    <SectionContainer fullpage verticalCenter>
      <Presentation />
    </SectionContainer>

    <SectionContainer id="sobre-mi" fullpage verticalCenter>
      <SobreMi />
    </SectionContainer>

    <SectionContainer id="experiencia" fullpage verticalCenter>
      <div class="lg:pt-20 mt-10">
        <h2
          class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
        >
          <Briefcase class="size-7" />
          Experiencia
        </h2>
        <Experience />
      </div>
    </SectionContainer>

    <SectionContainer id="proyectos" container class="">
      <div class="lg:pt-20 mt-10">
        <div class="lg:w-[740px] mx-auto mb-4">
          <h2
            class="text-3xl font-semibold flex gap-x-3 items-center text-black/80 dark:text-white/80"
          >
            <CodeIcon class="size-7" />
            Proyectos
          </h2>
          <p class="mb-8">Algunos proyectos y contribuciones.</p>
        </div>
        <Projects />
      </div>
    </SectionContainer>

    <SectionContainer id="contacto">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <CodeIcon class="size-7" />
        Contacto
      </h2>
      <Contacto />
      <ContactoIcons class="text-center justify-center" />
    </SectionContainer>
    <WhatsappButton />
  </main>
</Layout>
