<form action="#">
  <div class="form-group my-2">
    <label for="">Nombre y Apellido</label>
    <input type="text" class="w-full px-4 py-2" name="" id="" />
  </div>
  <div class="form-group my-2">
    <label for="">Correo</label>
    <input type="text" class="w-full px-4 py-2" name="" id="" />
  </div>

  <div class="form-group my-2">
    <label for="">Mensaje</label>
    <textarea name="" id="" class="w-full px-4 py-2" rows="7"></textarea>
  </div>

  <button
    type="submit"
    class="_Masco_7wTrd3Tc0qjp9 bFARDnno0HUtfhktTXfR MxG1ClE4KPrIvlL5_Q5x _A6LflweZRUwrcL6M2Tk _F_1gdhzusC6tSOWHtx_ wP9HMsqy6b96l2HBRbgb _Qk4_E9_iLqcHsRZZ4ge bg-primary-700 DbLu21IWZ1QB3nnJtpvP hover:bg-primary-800 _FONMPVaCsLFJJGDaaIL qHIOIw8TObHgD3VvKa5x focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
    >Send message</button
  >
</form>
