<form action="#">
  <div class="form-group my-2">
    <label for="">Nombre y Apellido</label>
    <input
      type="text"
      placeholder="  Ej: Juan Pérez"
      class="w-full px-4 py-2"
      name=""
      id=""
    />
  </div>
  <div class="form-group my-2">
    <label for="">Correo</label>
    <input
      type="text"
      placeholder="  Ej: juan.perez@gmail.com"
      class="w-full px-4 py-2"
      name=""
      id=""
    />
  </div>

  <div class="form-group my-2">
    <label for="">Mensaje</label>
    <textarea
      name=""
      id=""
      placeholder="   Ej: Te contacto para presupuesto de ..."
      class="w-full px-4 py-2"
      rows="7"></textarea>
  </div>

  <button
    type="submit"
    class="btn bg-green-700 w-full py-2 rounded-md my-2 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
    >Contactar</button
  >
</form>
