---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Desarrollador Freelance",
    description:
      "Relevamiento, diseño y desarrollo de múltiples aplicaciones, y proyectos Open Source para la comunidad, trabajando con múltiples tecnologías buscando innovar y contribuir con la comunidad.",
    link: "https://github.com/josecienty",
  },

  {
    date: "Actualmente..",
    title: "Desarrollador senior en Inmobiliaria del Este - IDESA",
    description:
      "Desarrollo de sistemas web y apis, mantenimiento y soporte en caso de ser necesario, entre otros.",
  },

  {
    date: "2020 hasta octubre 2023",
    title: "Desarrollador Fullstack - en Xnet S.D.",
    description:
      "Responsable de desarrollo de múltiples proyectos, aproximadamente 30 de los cuales incluye sistemas web, aplicaciones móviles y APIS.",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
