---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Desarrollador Freelance",
    description:
      "Diseño con figma, Aplicaciones moviles, Marketplace, Sistemas web y de Escritorio.",
    link: "https://github.com/josecienty",
  },
  {
    date: "Diciembre 2024 - Actualmente",
    title: "Tupí Ramos Generales",
    description:
      "Desarrollador Sr Web => PHP, Next JS, Node, React, React Native",
  },
  {
    date: "Noviembre 2023 - Diciembre 2024",
    title: "Inmobiliaria del Este - IDESA",
    description:
      "Desarrollo de Senior => PHP SLIM, Laravel, JavaScript, TypeScript",
  },

  {
    date: "Marzo 2020 - Octubre 2023",
    title: "Desarrollador Fullstack - en Xnet S.D.",
    description:
      "Responsable de Desarrollo de Proyectos => PHP, JavaScript, TypeScript, Laravel, Livewire, Vue JS, React, Python.",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
