---
const classBTN = "hover:bg-white/10 px-6 py-2 transition";
---

<header
  class={`
    flex justify-center items-center
    mx-auto
    py-5
    sticky top-0
    w-full xl:w-[1120px]
    z-10
  `}
>
  <nav
    class={`
      border border-none rounded-full
      flex flex-row items-center
      bg-neutral-200 dark:bg-black/50
      backdrop-blur-2xl overflow-hidden
      shadow-xl shadow-slate-800
    `}
  >
    <a class={classBTN} href="#sobre-mi">Sobre mí</a>
    <a class={classBTN} href="#experiencia">Experiencia</a>
    <a class={classBTN} href="#proyectos">Proyectos</a>
    <a class={classBTN} href="#contacto">Contacto</a>
  </nav>
</header>
