---
const classBTN = "hover:bg-white/15 px-7 py-3 transition";
---

<header
  class={`
    hidden md:flex justify-center items-center
    mx-auto
    py-5
    sticky top-0
    w-full xl:w-[1120px]
    z-10
  `}
>
  <nav
    id="topbar"
    class={`
      border border-none rounded-lg
      flex flex-row items-center
      bg-neutral-200 dark:bg-black/50
      backdrop-blur-2xl overflow-hidden
      shadow-xl shadow-green-800/50
    `}
  >
    <!-- shadow-slate-800 -->
    <a class={classBTN + " bg-white/15"} href="#inicio">Inicio</a>
    <a class={classBTN} href="#sobre-mi">Sobre mí</a>
    <a class={classBTN} href="#experiencia">Experiencia</a>
    <a class={classBTN} href="#proyectos">Proyectos</a>
    <a class={classBTN} href="#contacto">Contacto</a>
  </nav>
</header>
