---
import Badge from "../components/Badge.astro";
import ContactoIcons from "../components/ContactoIcons.astro";
---

<div class="-mt-20">
    <img
        class="rounded-full size-28 mb-4"
        src="/josedev.webp"
        alt="José Argüello Photo"
    />
    <h1
        class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
    >
        Hola, soy José

        <a
            href="https://linkedin.com/in/josecienty"
            target="_blank"
            rel="noopener"
            class="hidden md:flex flex-col items-end gap-2"
        >
            <Badge color="green">Desarrollador</Badge>

            <Badge>Analista de Sistemas</Badge>
        </a>
    </h1>
    <h2
        class="text-xl lg:text-2xl text-balance max-w-[700px] text-black dark:text-white"
    >
        <span>+8 años de experiencia en </span><span
            class="text-yellow-800 dark:text-yellow-200"
        >
            Desarrollador Web, Escritorio y Móvil</span
        >
        .<span class="text-red-800 dark:text-red-200">
            Desde Caacupé, Paraguay</span
        >.
        <span class="text-sky-800 dark:text-sky-200"
            >Enfocado en desarrollar aplicaciones unicas.</span
        >
    </h2>
    <ContactoIcons />
</div>
