---
import Briefcase from "../components/icons/Briefcase.astro";
---

<div data-aos="fade-down" data-aos-duration="1000">
    <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
    >
        <Briefcase class="size-7" />
        Sobre Mi
    </h2>
    <p>
        Mi nombre es
        <strong>José Antonio Argüello Estigarribia</strong>, egresado de la
        carrera de Análisis de Sistemas, donde logré conseguir el titulo de
        Licenciado (2020), y Programador de Computadoras (2018), actualmente
        sigo capacitandome y buscando la certificación como Ingeniero en
        Sistemas.
    </p>
    <br />
    <p>
        Me dedico al desarrollo desde hace más de 8 años, donde además de
        programas eh logrado desarrollar experiencias positivas en cada uno de
        los proyectos individuales y de equipo. Integrando mis habilidades de
        análisis y diseño con el desarrollo de software.
    </p>
    <br />
    <p>
        Tuve oportunidad de ser participe de varios proyectos, desde pequeñas
        <strong>Landis Page</strong> hasta <strong>E-commerce</strong> y sistemas
        de pagos diferidos, integrando múltiples medios de pago según requerimientos
        del proyecto.
    </p>
    <br />
    <p>
        Tengo experiencia con lenguajes de programación PHP, Javascript,
        TypeScript, Java y Python. Así también como multiples frameworks de los
        mismo como React, Vue Js, Laravel, Django, React, React Native, Spring
        Boot, etc; Así como con bases de datos Relacionales y no Relacionales
        utilizando lenguaje SQL, PL/SQL y NoSQL .
    </p>
    <br />

    <p>
        Me gustan los retos y cada desarrollo es uno, <strong
            >mi objetivo será superarlo.</strong
        >
    </p>
</div>
