---
import Briefcase from "../components/icons/Briefcase.astro";
import React from "../components/icons/React.astro";
---

<div class="about-text" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="300">
    <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
    >
        <Briefcase class="size-7" />
        Sobre Mi
    </h2>
    <p>
        <strong>José Antonio Argüello Estigarribia.</strong>
    </p>
    <p>Paraguayo, nacido en el 1997, en la ciudad de Caacupé, Paraguay.</p>
    <p>
        Soy desarrollador de software y Analista de Sistemas, tengo una
        trayectoria considerable en el desarrollo y mantenimiento de los mismos.
    </p>
    <br />
    <p>
        Me dedico al desarrollo de aplicaciones desde el 2016, donde además de
        programas eh logrado desarrollar experiencias positivas en cada uno de
        los proyectos individuales y de equipo. Integrando mis habilidades de
        análisis y diseño con el desarrollo de software.
    </p>
    <br />
    <p>
        Participe en varios proyectos interesantes, donde tuve la oportunidad de
        <strong>aprender</strong> y <strong>desarrollar</strong> habilidades
        <strong>profesionales</strong> y <strong>personales</strong>.
    </p>
    <br />
    <p>
        Tengo experiencia con lenguajes de programación PHP, Javascript,
        TypeScript, Java y Python. Así también como multiples frameworks de los
        mismo como React, Vue Js, Laravel, Django, React, React Native, Spring
        Boot, etc; Así como con bases de datos Relacionales y no Relacionales
        utilizando lenguaje SQL, PL/SQL y NoSQL .
    </p>
    <br />

    <p>
        Me gustan los retos y cada desarrollo es uno, <strong
            >mi objetivo será superarlo.</strong
        >
    </p>
</div>
<div
    data-aos-delay="500"
    data-aos-duration="3000"
    data-aos="fade-left"
    class="hidden md:flex absolute top-10 right-0 -mr-[200px]"
>
    <img
        src="/favicon.svg"
        alt=""
        width="120"
        class="opacity-20 animate__animated animate__tada animate__infinite animate__slower animate__delay-2s"
    />
</div>

<div
    data-aos-delay="1000"
    data-aos-duration="1000"
    data-aos="flip-right"
    class="hidden md:flex absolute bottom-11 left-0 -ml-[200px]"
>
    <React
        width="120"
        class="opacity-10 animate__animated animate__jello animate__infinite animate__slower animate__delay-2s"
    />
</div>
